@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 80px;
}

@media (max-width: 768px) {
  :root {
    --header-height: 64px;
  }
}

// Themes:
.light {
  --app-text: #000000;
  --background: #f4f4f5;
  --subcolor: #3f6212;
  --subcolor-hover: #65a30d;

  --button-hover: #262626;
  --active-element-hover: #e7e5e4;
  --google-button-hover: #e7e5e4;
  --error: #b91c1c;

  --border: #a1a1aa;
  --form: #fafafa;
  --placeholder: #78716c;
}

.dark {
  --app-text: #ffffff;
  --background: #1c1917;
  --subcolor: #a3e635;
  --subcolor-hover: #d9f99d;

  --button-hover: #e7e5e4;
  --active-element-hover:  #262626;
  --google-button-hover: #262626;
  --error: #ef4444;

  --border: #57534e;
  --form: #292524;
  --placeholder: #d6d3d1;
}

body {
  @apply bg-background text-app-text text-xl;
}

::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #fafafa;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  box-shadow: inset 0 0 20px 20px #292524;
  caret-color: #ffffff;
}

input[type="radio"] {
  display: none;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.button {
  @apply rounded-xl px-16 py-2 font-bold bg-black text-white hover:bg-button-dark-hover;

  @media (max-width: 768px) {
    @apply px-8 py-1 text-lg;
  }

  &:not(&:disabled) {
    @apply hover:shadow-lg;
  }

  &.button-small {
    @apply px-8 py-2 text-sm;
  }

  &.button-large {
    @apply px-28 py-4 text-2xl font-bold;
  }
}

.dark .button {
  @apply bg-white text-black hover:bg-button-dark-hover;
}

.dialogFormWrapper {
  @apply absolute top-0 left-0 h-screen w-screen z-50 flex justify-center items-center;
  background-color: rgba(0, 0, 0, 0.5);

  > .dialogForm {
    @apply border border-border p-5 px-7 rounded-xl w-[450px] bg-background;

    > h1 {
      @apply text-center font-semibold text-2xl;
    }

    > .dialogFormInputs {
      @apply my-4 flex flex-col gap-4;

      > div {
        @apply flex flex-col;

        > label {
          @apply text-sm text-placeholder;
        }

        > input {
          @apply mt-1 rounded-lg outline-none border border-border bg-background p-1 px-3 text-lg focus:border-subcolor;
        }

        > textarea {
          @apply mt-1 rounded-lg outline-none border border-border bg-background p-2 px-3 text-lg focus:border-subcolor min-h-32 max-h-80;
        }

        > select {
          @apply mt-1 rounded-lg outline-none border border-border bg-background p-2 px-3 text-lg focus:border-subcolor;
        }
      }
    }

    > .dialogFormButtons {
      @apply flex gap-2 justify-end;

      > .cancelButton {
        @apply text-app-text bg-active-element-hover;
      }
    }
  }
}