@tailwind base;
@tailwind components;
@tailwind utilities;

// Themes:
.light {
  --app-text: #000000;
  --background: #f4f4f5;
  --subcolor: #3f6212;
  --subcolor-hover: #65a30d;

  --button-hover: #262626;
  --active-element-hover: #e7e5e4;
  --google-button-hover: #e7e5e4;
  --error: #b91c1c;

  --border: #a1a1aa;
  --form: #fafafa;
  --placeholder: #78716c;
}

.dark {
  --app-text: #ffffff;
  --background: #1c1917;
  --subcolor: #a3e635;
  --subcolor-hover: #d9f99d;

  --button-hover: #e7e5e4;
  --active-element-hover:  #262626;
  --google-button-hover: #262626;
  --error: #ef4444;

  --border: #57534e;
  --form: #292524;
  --placeholder: #d6d3d1;
}

body {
  @apply bg-background text-app-text text-xl;
}

::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #fafafa;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  box-shadow: inset 0 0 20px 20px #292524;
  caret-color: #ffffff;
}

input[type="radio"] {
  display: none;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.button {
  @apply rounded-xl px-16 py-2 font-bold bg-black text-white hover:bg-button-dark-hover;

  &:not(&:disabled) {
    @apply hover:shadow-lg;
  }

  &.button-small {
    @apply px-8 py-2 text-sm;
  }

  &.button-large {
    @apply px-28 py-4 text-2xl font-bold;
  }
}

.dark .button {
  @apply bg-white text-black hover:bg-button-dark-hover;
}